/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: 'Roboto';
  font-size: 16px;
}

nav {
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  position: relative;
}

header {
  background-image: url("../images/bannerVector.png"), url("../images/banner.png");
  background-repeat: no-repeat, no-repeat;
  height: 250px;
  line-height: 250px;
}

main {
  padding: 40px 100px;
}

.wrapper {
  width: 1366px;
  margin: 0 auto;
}

nav div {
  position: absolute;
  left: 50px;
}

nav div img {
  vertical-align: middle;
}

nav ul, nav li {
  display: inline-block;
}

nav ul {
  position: absolute;
  right: 50px;
}

nav li {
  margin-left: 40px;
}

nav li:first-child {
  font-weight: bold;
  color: #1F3F68;
}

header div {
  vertical-align: middle;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

header div h1 {
  padding: 0 365px;
  font-size: 2.75rem;
  line-height: 2.75rem;
  color: white;
  margin-bottom: 20px;
}

header div p {
  padding: 0 325px;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: white;
}

main > div {
  position: relative;
}

main > div > input {
  width: 100%;
  height: 55px;
  border-radius: 10px;
  background-color: #f4f4f4;
  border: 0;
}

main > div > img {
  position: absolute;
  top: 18.5px;
  left: 20px;
}

main > div input::-webkit-input-placeholder {
  padding-left: 50px;
}

main .popular {
  margin: 10px;
  margin: 40px 0 20px 0;
  color: #356ead;
}

main .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 50px;
}

main .grid-container .card:first-child {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .grid-container .image {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

main .grid-container .description {
  position: relative;
  display: inline-block;
  width: 150px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  border: 1px solid black;
}

main .grid-container .description h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
  color: #1F3F68;
}

main .grid-container .description p {
  line-height: 1.5rem;
  letter-spacing: 0.04em;
}

main .grid-container .description div {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*
        h5{
          position: absolute;
          top: 10px;
        }

        p{
          position: absolute;
          top: 20px;
        }

        a.bookmark{
          position: absolute;
          right: 0;
        }

        a.sharing{
          position: absolute;
          right: 0;
        }
        */
}

footer {
  margin-right: 50px;
  border-top-right-radius: 200px;
  background-color: #316099;
  color: white;
  padding: 100px;
}

footer .container .bloque1 {
  position: relative;
  padding-right: 500px;
}

footer .container .bloque1 .text h3 {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

footer .container .bloque1 .text p {
  width: 300px;
}

footer .container .bloque1 .lest-talk {
  position: absolute;
  right: 0;
}

@media all and (min-width: 768px) and (max-width: 959px) {
  /*---NAV---*/
  nav div {
    left: 20px;
  }
  /*---MAIN---*/
  main {
    padding: 20px;
  }
}

/* CONFIGURACION DE FUENTES - INICIO
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}
*/
/*# sourceMappingURL=style.css.map */